<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel='icon' href='public/images/weather.png'/>
    <link href="/public/css/styles.css" rel="stylesheet">
    <script src="/public/js/app.js"></script>
</head>
<body>

    <div class='main-content'>
        {{>header}}
        <h1 style="text-align: center;">{{message}}</h1>   
        <p>use this site to get your weather</p>
    </div>
    

        
> 
    {{>footer}}
</body>
</html>