<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel='icon' href='public/images/weather.png'/>
    <link href="public/css/styles.css" rel="stylesheet"/>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Simply enter your location on the homepage to fetch your forecast</p>
        <p>Note* this app uses the weatherstack API which may or may not be locationally accurate</p>
    </div>
    



    {{>footer}}
</body>
</html>
