<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='icon' href='public/images/weather.png'/>
    <link href="/public/css/styles.css" rel="stylesheet">
    
</head>
<body>
   <div class="main-content">
        {{>header}}
        <p>Enter your location to recieve your forecast</p>
        <form>
            <input placeholder="Location"/>
            <button>Search</button>
        </form>
        <p id='er'></p>
        <p id='mes'></p>
   </div>
    
    

    <script>console.log('what is going on')</script>

    {{>footer}}

    <script src="/public/js/app.js"></script>
</body>
</html>
